<h1>Welcome</h1>
<p>This is the Angular Front-to-Back Sandbox Application</p>

<button class="btn btn-secondary" routerLink="/users">Users Section</button>

<button class="btn btn-dark" routerLink="/posts">Posts Section</button>
 