<button
  (click)="showUserForm = !showUserForm" 
  class="btn btn-dark mb-3">
  Add User
</button>
<div class="card card-body mb-3" *ngIf="showUserForm">
  <h2 class="add_user">Add User</h2>
  <form 
    #userForm="ngForm"
    (ngSubmit)="onSubmit(userForm)"
  >
    <div class="form-group">
      <label>First Name: </label>
      <input 
        type="text"
        [(ngModel)]="user.firstName"
        class="form-control"
        [ngClass]="{'is-invalid':userFirstName.errors && userFirstName.touched}"
        name="firstName"
        #userFirstName="ngModel"
        required
        minlength="2"
      />
      <div
        [hidden]="!userFirstName.errors?.required"
        class="invalid-feedback"
      >
        First Name Required.
      </div>
      <div
        [hidden]="!userFirstName.errors?.minlength"
        class="invalid-feedback"
      >
        Must be 2 characters in length.
      </div>
    </div>
    <div class="form-group">
      <label>Last Name</label>
      <input
        type="text"
        [(ngModel)]="user.lastName"
        class="form-control"
        [ngClass]="{'is-invalid':userLastName.errors && userLastName.touched}"
        name="lastName"
        #userLastName="ngModel"
        required
        minlength="3"
      />
      <div [hidden]="!userLastName.errors?.required" class="invalid-feedback">
        Last Name Required.
      </div>
      <div [hidden]="!userLastName.errors?.minlength" class="invalid-feedback">
        Must be 2 characters in length.
      </div>
    </div>
    <div class="form-group">
      <label>Email Address</label>
      <input
        type="text"
        [(ngModel)]="user.email"
        class="form-control"
        [ngClass]="{'is-invalid':userEmail.errors && userEmail.touched}"
        name="email"
        #userEmail="ngModel"
        required
      />
      <div [hidden]="!userEmail.errors?.required" class="invalid-feedback">
        Email Address is Required.
      </div>
    </div>
    <div class="form-group">
      <button [disabled]="!userForm.form.valid" class="btn btn-block mb-3">Add User</button>
    </div>
  </form>
</div>
<ul class="list-unstyled" *ngIf="loaded && users?.length > 0">
  <li class="card card-body mb-2" *ngFor="let user of users" [class.bg-light]="user.isActive">
    <h3>{{ user.firstName + ' ' + user.lastName }}
      <small>
        <button 
         (click)="user.hide = !user.hide"
         class="btn btn-dark btn-sm"
        >
          <i [ngClass]="user.hide ? 'fa fa-plus' : 'fa fa-minus'"></i>
        </button>
      </small>
    </h3>
    <ul class="list-group" *ngIf="!user.hide">
      <li class="list-group-item">Email: {{ user.email }}</li>
      <li class="list-group-item">Date Registered: {{ user.registered | date: "shortDate" }}</li>
    </ul>
  </li>
</ul>

<h4 *ngIf="users?.length == 0">No users found</h4>
<h4 *ngIf="!loaded">Loading Users...</h4>