.big-text {
    text-transform: uppercase;
    font-size: 22px;
}
label {
    color: navy;
    font-size: 20px;
    font-weight: 700;
}
.form-control {
    font-size: 18px;
    color: navy;
    background: rgba(179, 179, 179, 0.16);
}