<app-post-form [currentPost]="currentPost" [isEdit]="isEdit" (newPost)="onNewPost($event)" (updatedPost)="onUpdatedPost($event)"></app-post-form>
<h2>Posts</h2>
<div class="card mb-3" *ngFor="let post of posts">
  <div class="card-body">
    <a routerLink="/post/{{ post.id }}"><h3>{{ post.title }}</h3></a>
    <p>{{ post.body }}</p>
    <hr>
    <button
      (click)="editPost(post)"
      class="btn btn-light"
    >
      <i class="fa fa-pencil"></i> Edit
    </button>
    <button
      (click)="removePost(post)"
      class="btn btn-danger"
    >
      <i class="fa fa-remove"></i> Remove
    </button>
  </div>
</div>