/* You can add global styles to this file, and also import other style files */
::selection {
    color: white;
    background: navy; /* WebKit/Blink Browsers */
  }
  ::-moz-selection {
    color: white;
    background: navy; /* Gecko Browsers */
  }